@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

Text,
p,
h1,
h2,
span,
.waviy {
  user-select: none;
}

.line {
  border: none;
  height: 12px;
  background: black;
}

.layout {
  position: relative;
  background-size: 200%;
  animation: bgGradient 4s ease-in-out infinite;
  background: linear-gradient(to bottom right, #eed7c5, #eee2df);
}

Button {
  margin-right: 1em;
  font-family: "Arial", monospace;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  /* text-indent: 2rem;  */
  margin: 1rem 1.5rem 1rem 1.5rem;
}

pre {
  text-align: left;
  text-indent: 2rem;
  margin: 1.5rem 1rem 1rem 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-wrap: wrap;
  font-size: 1.25rem;
}

li {
  list-style-type: disc;
  margin-left: 4rem;
  margin-right: 4rem;
}

.about-subheading {
  justify-self: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  font-size: 160px;
}
.waviy span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to bottom, #416788, #7389ae 45%, #81d2c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes bgGradient {
  0%,
  100% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 300% 300%;
  }
}

.logged-text {
  display: inline-block;
  position: relative;
}

#text {
  font-weight: bold;
  font-family: "Arial";
}

.underscore {
  position: relative;
  display: inline-block;
  left: 10px;
  font-size: 4rem;
  font-style: bold;
}
